/*
 * 
.verde:after {
	content: '🐢';
	font-size: 2em;
}

.amarillo:after {
	content: '🐪';
	font-size: 2em;
}

.azul:after {
	content: '🦕';
	font-size: 2em;
}

.rojo:after {
	content: '🐖';
	font-size: 2em;
}
*/
